/* Color Of The Body */
body {
    background-color: #C0A9BD;
  }

/*All Buttons Main Settings*/
.flex-container a, .bodybuttons a, .flex-parent a, .headerbutton, .titlebutton a {
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #000000;
    color: #000000;
    text-decoration: none;
    text-align: center;
  }

  /* Header Button Code*/
.headerbutton {
  float: left;
}

/* Header Buttons + Body Buttons Common Code*/
.headerbutton, .bodybuttons a {
    margin: 5px;
    cursor: pointer;
  }

/* MoFlex Buttons Settings*/
.flex-container a {
    display: block;
    width: 85px;
    height: 40px;
    margin: 35px;
    line-height: 20px;
    font-size: 15px;
    padding: 15px;
  }

  /*Body Buttons + Flex-Parent Buttons + Header Links Common Code*/
.bodybuttons a, .flex-parent a, .header a {
  font-size: 17px; 
  line-height: 25px;
}

  /*Buttons In Flex-Parent Code*/
.bodybuttons a , .titlebutton a {
  float: center;
  padding: 10px;
  margin-top: 30px;
}

  /*Buttons In Hero Images Flex*/
  .flex-parent a {
    float: left;
    margin: 5px;
  }
  
  /* Header Settings */
  .header {
    overflow: hidden;
    background-color: #ffffff;
    margin: -8px;
  }
  
  /* Links In Header Code */
  .header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
  }
  
  /* Background Of Links In Header While Hoover */
  .header a:hover {
    background-color: #C0A9BD;
    color: #ffffff;
  }
  
  /* Active Link In Header*/
  .header a.active {
    background-color: #000000;
    color: #ffffff;
    border-radius: 2px solid #000000;
  }

  /* 3 Buttons Potition Setting In Header */
  .header-right {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Logo Position Setting */
  .header-left {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  /*Logo Size Setting */
  .logo-container img {
    width: 100px;
    height: 50px;
}

/*Footer Setting*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ffffff;
    padding: 20px;
}

/* Flex Settings*/
.flex-container {
    display: flex;
    background-color: #C0A9BD;
    margin: -10px;
    padding: 80px;
    position: relative;
    justify-content: center;
  }


  /* Flex Setting While Hoover */
  .flex-container a:hover {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid white;
  }

  /*Flex Wrap Property*/
  .wrap { flex-wrap: wrap; }


  /*Flex Setting To Hero Images*/
  .flex-parent {
    display: flex;
    padding-top: 40px;
  }
  
  /*Hero Images Flex Main Setting*/
  .flex-parent > div {
    font-family: monospace;
    width: 300px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }


  /*Hero Images Buttons While Hover*/
  .flex-parent a:hover {
    background-color: #000000;
    color: #ffffff;
  }

  /*Hero Images Flex Setting*/
  .around { 
    justify-content: space-around; 
  }

  /* Best Seller Hero Image  Setting */
  .hero-image1 {
    /* "linear-gradient" adds a darken background effect to the photo */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://mpudata.sfo2.digitaloceanspaces.com/original/2X/6/6f7d37cd5f7ef08a2a17602e0aa6ad3a6880d747.jpeg");
    padding-left: 20px;
    margin: 20px;
  }

  /*New Arrivals Hero Image Setting*/
  .hero-image2 {
    padding-left: 20px;
    margin: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://free4kwallpapers.com/uploads/originals/2019/11/21/star-wars-wallpaper.jpg")
  }

  /*Both Heroes Setting*/
  .hero-image1, .hero-image2 {
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text1, .hero-text2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  /*Flex To The Content On All Category Sites*/
  .flex-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  
  /*Images In Flex For All Pages*/
  .flex-content img {
    width: 100px;
    height: 150px;
    float: left;
    padding: 40px;
  }
  
  /*Text Code*/
  .text {
    font-size: 17px;
    margin-left: -20px;
    padding-top: 10%;
    float: left;
    text-align: center;
  }

  /*Position Of All H1s* + H2s */
  h1, h2 {
    text-align: center;
  }

  /*Main Form Setting*/
  form {
    background-color: #ffffff;
    color: #000000;
    margin: 50px auto;
    width: 600px;
    padding: 1em;
    border: 2px solid #000000;
    border-radius: 1em;
  }

  /*Placement Of The Form*/
  ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
  }
  
  /*Length Of The Text In Form*/
  label {
    display: inline-block;
    width: 200px;
    text-align: center;
  }
  
  /*Input Field After This Sign*/
  label::after {
    content: ":";
  }

  /*Input Area Code*/
  input,textarea {
  font: 1em sans-serif;
  width: 350px;
  box-sizing: border-box;
  border: 2px solid #000000;
  outline: none;
  background-color: #C0A9BD;
}

/*Comment Field Code*/
textarea {
  vertical-align: middle;
  height: 5em;
  resize: vertical;
  resize: none;
}

/*Button In The Form*/
form a {
  border: 2px solid #000000;
  background-color: #C0A9BD;;
  float: center;
  cursor: pointer;
  border-radius: 15px;
  margin: 200px;
  padding: 10px;
  text-decoration: none;
  color: #000000;
}